# Python
venv/
__pycache__/
*.pyc

# TensorFlow
*.h5
*.keras

# VS Code
.vscode/

# Node
node_modules/

# Environment
.env

# Uploads
uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Dataset
dataset/

# Build
dist/
build/